
/*Fixed with px*/

body {

}

.header {
    background-color: lightyellow;
    text-align: center;
}

.page-container {
    width: 980px;
}

.left {

}

.center {

}

.right {

}

.footer {
    min-height: 60px;
}
