
/*Fixed with px*/

body {

}

.header {
    background-color: lightyellow;
    text-align: center;
}

.page-container {
    width: 980px;
}

.main-page-container {

}

.left {

}

.center {

}

.right {

}

.footer {

}
