
.image {
    width: 100px;
    height: 100px;
    border-style: dashed;
    border-color: blue;
    border-radius: 7px;
}

canvas {
    display: block;
    width: 400px;
    height: 200px;
    border-style: solid;
    border-color: black;
}
