
a {
    padding: 20px 30px;
    margin: 5px;
    text-align: center;
    background-color: green;
    color: white;
    border-style: dashed;
}

.file-image-input {
    display: none;
}

.out-div {
    margin-top: 35px;
}

.file-output {
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    background-color: lightgoldenrodyellow;
    width: 50%;
    height: 100px;
    overflow-y: auto;
}

.image-drop {
    width: 400px;
    height: 400px;
    border-style: dashed;
    border-width: 10px;
    border-radius: 15px;
    background-color: lightgoldenrodyellow;
    background-size: 100%;
    text-align: center;
}

.image-drop p {
    margin-top: 200px;
    font-size: 45px;
    opacity: 0.5;
}
