
body {
    margin: 0;
    font-family: 'Inconsolata', 'monospace', 'Times New Roman', 'Arial';
    background-color: #f2f4f7;
}

header {
    height: 100px;
    /* fallback för gamla webbläsare */
    background-color: red;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    padding-bottom: 45px;
    padding-top: 20px;
    text-align: center;
    color: white;
}

.header-complement {
    background-color: #332d2d;
    width: 100%;
    padding-top: 5px;
    min-height: 30px;
}

label span {
    font-size: 20px;
    color: blue;
}

.hide-this-bootstrap-element {
    display: none;
}
