
body {
    margin: 0;
    font-family: 'Inconsolata', 'monospace', 'Times New Roman', 'Arial';
    background-color: #a7ad9c;
}

header {
    height: 100px;
    /* fallback för gamla webbläsare */
    background-color: red;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    padding-bottom: 45px;
    padding-top: 20px;
    text-align: center;
    color: white;
}

.header-complement {
    background-color: #332d2d;
    width: 100%;
    padding-top: 5px;
    min-height: 30px;
}

.page-description {
    margin: 5px 20px;
    padding: 5px;
    border: solid black;
    border-radius: 20px;
    cursor: help;
    background-color: #c6c6c0;
}

.map-container {
    border: solid black;
    height: 400px;
    display: flex;
    flex-direction: row;
    margin: 10px 20px;
    padding: 15px;
    border-radius: 40px;
    background-color: #c6c6c0;
}

.column {
    width: 50%;
}

/*
    Kom ihåg (Google Maps-API):
    Always set the map height explicitly to define the size of the div
    element that contains the map.
*/
#map {
    height: 100%;
    width: 100%;
}

.form-map-input {
    text-align: center;
}

label {
    display: block;
}

.form-map-input input {
    width: 50%;
    height: 20px;
    border-radius: 5px;
}

.form-map-input button {
    padding: 10px;
    width: 50%;
    margin: 7px auto;
    display: block;
    background-color: #7cc170;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #212b1f;
}

.form-map-input button:hover {
    background-color: #b7b794;
    cursor: pointer;
}

td a {
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .map-container {
        flex-direction: column;
        padding-bottom: 75px;
        margin-bottom: 5px;
        height: 550px;
    }

    .column {
        height: 50%;
        width: 100%;
    }
}

@media only screen and (max-width: 420px) {
    .map-container {
        height: 650px;
    }
}
