
body {
    margin: 0;
    font-family: 'Inconsolata', 'monospace', 'Times New Roman', 'Arial';
}

header {
    /* fallback för gamla webbläsare */
    background-color: red;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    padding-bottom: 45px;
    padding-top: 20px;
    text-align: center;
    position: relative;
}

.head-content {
    border-top: dashed;
    color: white;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    border-bottom: dashed;
}

.author-header {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 22px;
    color: white;
    position: absolute;
    right: 10px;
    bottom: 0;
}

.nav-menu {
    position: sticky;
    -webkit-position: sticky;
    top: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #332d2d;
    width: 100%;
    padding-top: 5px;
}

.scroll-progressbar-container {
    height: 10px;
    width: 100%;
    background-color: #6f756b;
}

.progressbar {
    height: 100%;
    width: 0;
    background-color: #2c5364;
}

.menu-link {
    padding: 10px 35px;
    margin: 5px 20px;
    text-decoration: none;
    color: white;
}

.menu-link:hover {
    background-color: #d6d6c2;
}

.parallax-effect {
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#first-parallax {
    /*background-image: url('https://loremflickr.com/1400/500/stockholm');*/
    background-image: url('../images/green.jpg');
}


#second-parallax {
    /*background-image: url('https://loremflickr.com/1400/500/paris');*/
    background-image: url('../images/grass.jpg');
}

#third-parallax {
    /*background-image: url('https://loremflickr.com/1400/500/nature');*/
    background-image: url('../images/flower.jpg');
}

#fourth-parallax{
    /*background-image: url('https://loremflickr.com/1400/500/woods');*/
    background-image: url('../images/green.jpg');
}

/*Boxes between parallax images*/
.box-between {
    /*background-color: #e6e6e6;*/
    height: 350px;
    text-align: center;
    color: #50555b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    background-color: #e6e6e6;
}

.second-box {
    padding-top: 10px;
    height: 100%;
    width: 100%;
    background-color: #363a35;
    color: white;
}

.second-box-content iframe {
    float: right;
    margin-right: 50px;
    width: 360px;
    height: 215px;
    border: none;
}

.print-note-iframe {
    display: none;
}

.shadowed-text {
    font-size: 70px;
    font-style: italic;
    color: #fff;
    text-shadow: -7px 7px 0px #000000;
    margin: 0;
}

/* Animation för att slide:a in när man scrollar.
Hjälp tagen från W3 schools. Källa:
https://www.w3schools.com/bootstrap/bootstrap_theme_company.asp */
.slide-in-animation {
    visibility: hidden;
}

.slide-in {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
/* Slide in animation slut */

.column-text {
    column-count: 2;
}

.book-link-ref {
    display: block;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    background-color: #384354;
    color: white;
    margin: 25px auto;
}

.book-link-ref:hover {
    background-color: #99a2af;
}

.book-link-ref:active {
    background-color: #7a94ba;
}

footer {
    min-height: 150px;
    background-color: #332d2d;
    display: flex;
    flex-direction: row;
}

.footer-column {
    width: 50%;
    text-align: center;
    margin: auto;
    color: white;
}

.footer-column a {
    color: #3869aa;
}

.footer-column + .footer-column {
    border-left: solid #696c70 1px;
}

@media only screen and (max-width: 800px) {
    .parallax-effect {
        background-attachment: scroll;
    }

    .nav-menu {
        position: static;
    }

    nav {
        flex-direction: column;
    }

    .scroll-progressbar-container {
        position: fixed;
        bottom: 0;
    }

    .menu-link {
        text-align: center;
    }

    .second-box-content iframe {
        display: block;
        float: none;
        margin: auto;
        width: 60%;
        height: auto;
    }

    .third-box-content {
        position: relative;
        height: 100%;
    }

    .book-link-ref {
        display: inline;
        position: absolute;
        width: 50%;
        height: 40px;
        right: 2px;
        bottom: 5px;
        padding: 2px;
    }

    footer {
        padding-bottom: 45px;
        flex-direction: column;
    }

    .footer-column + .footer-column {
        border-left: none;
        border-top: solid #696c70 1px;
    }
}

/* Denna del ser inte jättebra ut men det visar en annan sida än normalt */
@media print {

    html, body {
        font-family: 'Times New Roman', 'Arial';
        color: black !important;
    }

    nav {
        display: none;
    }

    .parallax-effect {
        display: none !important;
    }

    .box-between {
        border: solid black;
    }

    .print-note-iframe {
        display: block;
    }
}
