/*CSS för printer*/

@media print {
    html {
        font-style: italic;
        font-family: "Times New Roman";
    }

    .content {
        position: relative;
    }

    .navbar {
        width: 12%;
        max-width: 108px;
        overflow: auto;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
    }

    .nav-list {
        margin-left: 0;
        padding-left: 0;
    }

    .main-content {
        width: 85%;
        overflow: auto;
        position: static;
        margin-left: 110px;
    }
}
